<header class="row m-0 header-container pb-5 pt-4 ">
    <div class="col-6 px-5 pb-5 row m-0 mb-5 contenido">
      
    </div>
</header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse p-3 p-sm-0" id="navbarTogglerDemo02">
            <ul class="navbar-nav col-12 col-sm-9 me-auto mb-2 mb-lg-0 d-flex justify-content-evenly">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" [routerLink]="['']">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a (click)="verificarPermiso()" class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Alumno</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a [class]="habilitarMenuAlumno" class="dropdown-item" style="cursor:pointer;" (click)="miPlan()">Mi plan</a></li>
                        <li><a [class]="habilitarMenuAlumno" class="dropdown-item" style="cursor:pointer;" (click)="misRutinas()">Rutinas</a></li>
                        <li><a [class]="habilitarMenuAlumno" class="dropdown-item" style="cursor:pointer;" (click)="misCuotas()">Cuotas</a></li>
                        <li><a [class]="habilitarMenuAlumno" class="dropdown-item" style="cursor:pointer;" (click)="misAsistencias()">Asistencias</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a (click)="verificarPermiso()" class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Entrenador</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a [class]="habilitarMenuEntrenador" class="dropdown-item" [routerLink]="['gestionAlumno']">Gestión Alumnos</a></li>
                        <li><a [class]="habilitarMenuEntrenador" class="dropdown-item" [routerLink]="['gestionEjercicio']">Gestión Ejercicios</a></li>
                        <li><a [class]="habilitarMenuEntrenador" class="dropdown-item" [routerLink]="['plan-alimentacion']">Gestión Planes Alimenticios</a></li>
                        <li><a [class]="habilitarMenuEntrenador" class="dropdown-item" [routerLink]="['gestion-cuota']">Gestión Cuotas</a></li>
                        <li><a [class]="habilitarMenuEntrenador" class="dropdown-item" [routerLink]="['publicacion-facebook']">Publicar Noticia en Facebook/Home</a></li>
                     
                    </ul>
                </li>

                <li class="nav-item">
                    <a   (click)="verificarPermiso()" [class]="habilitarMenuEntrenador" class="nav-link active" [routerLink]="['']">Estadísticas</a>
                </li>

            </ul>
          
        </div>
        <div class="p-2">
            <a *ngIf="!usuarioService.userLoggedIn()" [routerLink]="['login']"><button class="btn btn-dark">Log in</button></a>
            <a style="text-decoration: none;" *ngIf="usuarioService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
               <i class="bi bi-person-check-fill" style="padding-right: 2rem; font-size: 2vw;">{{usuarioService.userLogged()}}</i>  <button class="btn btn-warning">Cerrar Sesion</button>
            </a>
        </div>
    </div>
</nav>