<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 bg-body" >
        <div class="row justify-content-center text-white bg-dark p-2" >
            <h1 class=" text-center ">Estadisticas</h1>
            <h2 class=" text-center ">Ingresos Mensuales</h2>
        </div>
    
        <div class="row justify-content-center p-3">
        
                <div class="flex text-white">
                    <div class="flex-item">
                    <div style="display: block;">
                    <canvas baseChart 
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                [plugins]="lineChartPlugins"
                                ></canvas>
                    </div>
                    </div>
        
                    <div class="flex-item table-responsive mt-4">
                        <table class="table  ">
                            <tr>
                            <th *ngFor="let label of lineChartLabels">{{label}}</th>
                            </tr>
                            <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
    </div>
    
        
      
    </div>

</div>