<div class="row my-5 min-vh-100 m-0 ">
    <div class="col-12 col-sm-9 mx-auto bg-body">
        <div class="row text-uppercase bg-dark py-3 py-sm-5 text-center align-items-center">
            <div class="col-12">
                <p class=" fs-2 fw-bold text-white m-0">ASISTENCIA</p>
            </div>
        </div>
        <div class="col-6 col-md-2 text-center mb-3 mt-3">
            <button type="button" class=" w-100 btn btn-dark p-2 fs-6 fw-bold" (click)="volver()">VOLVER</button>
        </div>
        <div class="row py-5 px-2 px-sm-5 bg-light">
            
            <div class="col-12 p-0">
                <form action="" #formCuota="ngForm">
                    
                    <div class="row col-12 col-md-8 m-auto mb-1">
                        <div class="col-12 col-md-6 mb-3 bg-white" style="border: 1px solid rgb(175, 175, 175); border-radius: 10px;">
                            <p class="m-0" style="color: gray;">Alumno</p>
                            <label>{{cuota.alumno.apellido}}, {{cuota.alumno.nombre}}</label>
                        </div>
                        <div class="col-12 col-md-5 mb-3 bg-white mx-md-2 " style="border: 1px solid rgb(175, 175, 175); border-radius: 10px;">
                            <p class="m-0" style="color: gray;">Plan</p>
                            <label>{{cuota.alumno.plan.nombre}}: {{cuota.alumno.plan.dias}} dias</label>
                        </div>
                    </div>
                    <div class="row col-12 col-md-8 m-auto mb-1">
                        <div class="col-12 col-md-6 mb-3 bg-white " style="border: 1px solid rgb(175, 175, 175); border-radius: 10px;">
                            <p class="m-0" style="color: gray;">Precio</p>
                            <label>{{cuota.alumno.plan.precio | currency:'$'}}</label>
                        </div>
                        <div class="col-12 col-md-5 mb-3 bg-white mx-md-2" style="border: 1px solid rgb(175, 175, 175); border-radius: 10px;">
                            <p class="m-0" style="color: gray;">Modo de Pago</p>
                            <select required [(ngModel)]="cuota.modo_pago" name="modoPago" class="form-select" aria-label="Default select example" #modoPago>
                                <option value="Contado">Contado</option>
                                <option value="Tarjeta Debito">Tarjeta Débito</option>
                                <option value="Tarjeta Credito">Tarjeta Crédito</option>
                            </select>
                            <div *ngIf="modoPago.invalid && (modoPago.touched || modoPago.dirty)" class=" m-0 p-0 alert alert-danger align-items-center">
                                <p  class="mx-4" *ngIf="modoPago.errors.required"> Campo requerido</p>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 col-md-8 m-auto mb-1">
                        <div class="col-12 col-md-6 mb-3 bg-white" style="border: 1px solid rgb(175, 175, 175); border-radius: 10px;">
                            <p class="m-0" style="color: gray;">Fecha</p>
                            <label>{{fecha | date:"dd/MM/yyyy" }}</label>
                        </div>
                        <div class="col-12 col-md-5 text-center mb-3  mx-md-2">
                            <button [disabled]="formCuota.invalid" class="w-100 btn btn-primary p-3 fw-bold" (click)="guardarCuota(formCuota)" >GUARDAR</button>
                        </div>
                    </div>
                    
                </form>
                    <div class="table-responsive col-12 col-md-8 m-auto">

                        <table class="table table-hover align-middle m-0 bg-white" [mfData]="listaCuotas"
                            #mf="mfDataTable" [mfRowsOnPage]="5">
                            <thead>
                                <tr class="text-center ">
                                    <th style="width: 10%">
                                        Fecha
                                    </th>
                                    <th style="width: 10%">
                                        Monto
                                    </th>
                                    <th style="width: 10%">
                                        Modo de pago
                                    </th>
                                    <th style="width: 10%">
                                        Comprobante
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="text-center">
                                <tr *ngFor="let cuota of mf.data">
                                    <td>{{cuota.fecha_pago | date:"dd/MM/yyyy"  }}</td>
                                    <td>{{cuota.monto | currency: '$'}}</td>
                                    <td>{{cuota.modo_pago}}</td>
                                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#imagenModal" (click)="verComprobante(cuota)">Generar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="imagenModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-dark text-white">
                                                    <h5 class="m-auto">Comprobante de pago</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div  id="ComprobantePago" class="row col-8 m-auto" style="border: 1px solid black; padding-bottom: 30px;">
                                                        <img src="./../../../../assets/img/tituloComprobante.png" alt="">
                                                        <p style="font-weight: bold;">Comprobante de pago</p>
                                                        <img src="./../../../../assets/img/linea.png" alt="">
                                                        <div class="row m-auto justify-content-center">
                                                            <div class="col-6 bg-white text-center">
                                                                <label class="col-12"style="font-weight: bold;" >Fecha:</label>
                                                                <label class="col-12">{{cuotaComprobante.fecha_pago | date:"dd/MM/yyyy" }}</label>
                                                            </div>
                                                            <div class="col-6 bg-white text-center">
                                                                <label class="col-12" style="font-weight: bold;">Hora:</label>
                                                                <label class="col-12">{{cuotaComprobante.fecha_pago | date:"shortTime" }}</label>
                                                            </div>
                                                        </div>
                                                        <img src="./../../../../assets/img/linea.png" alt="">
                                                        <div class="col-11 mb-3 bg-white m-auto" style=" text-align: left;">
                                                            <label class="col-12 col-sm-4" style="font-weight: bold;">Alumno:</label>
                                                            <label class="col-12 col-sm-8">{{cuotaComprobante.alumno.apellido}}, {{cuotaComprobante.alumno.nombre}}</label>
                                                        </div>
                                                        <div class="col-11 mb-3 bg-white m-auto" style=" text-align: left;">
                                                            <label class="col-12 col-sm-4" style="font-weight: bold;">Plan:</label>
                                                            <label class="col-12 col-sm-8">{{cuotaComprobante.alumno.plan.nombre}} ({{cuotaComprobante.alumno.plan.dias}} días)</label>
                                                        </div>
                                                        <div class="col-11 mb-3 bg-white m-auto" style=" text-align: left;">
                                                            <label class="col-12 col-sm-4" style="font-weight: bold;">Precio:</label>
                                                            <label class="col-12 col-sm-8">{{cuotaComprobante.alumno.plan.precio | currency:'$'}}</label>
                                                        </div>
                                                        <div class="col-11 mb-3 bg-white m-auto" style=" text-align: left;">
                                                            <label class="col-12 col-sm-6" style="font-weight: bold;">Modo de pago:</label>
                                                            <label class="col-12 col-sm-6">{{cuotaComprobante.modo_pago}}</label>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success m-auto" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="" (click)="imprimir()">Descargar
                                                    </button> 
                                                </div>
                                            </div>
                                        </div>
                                    </div> </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    
            </div>
        </div>
    </div>
</div>