<!-- Contenedor principal -->
<div class="container-fluid m-0">
    <div class="row my-5 py-5">

        <div class="col-12 col-sm-10 mx-auto mb-4">
            <h2 class="text-center fs-1 m-0">Añadir pago de cuota</h2>
        </div>

        <!-- Sección de filtros de búsqueda -->
        <section class="col-12 col-sm-10 mx-auto">
            <form action="" class="">
                <div class="row m-0 gy-2 g-sm-2">
                    <div class="col-12 col-sm-10">
                      <input type="text" name="nombreAlu" class="form-control" placeholder="Buscar por nombre del alumno...">
                    </div>
                    <div class="col-12 col-sm-2">
                        <button class="btn btn-primary w-100">Buscar</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>