<div class="container rounded my-5 ">
    <div class="row  justify-content-center  p-2 ">
        <div class=" d-sm-none d-md-block col-5 bg-panel-left p-0">
            <div class="w-100 h-100 bg-container">

            </div>
        </div>
        <div class="col-12 col-md-7 bg-form">
            <div class="col-12 mb-4  border-bottom border-4">
                <h1 class="text-center fs-1 text-white fw-bold my-5">Registrar Alumno</h1>
            </div>
            <!-- **************************************************************** -->
            <!-- ********************** FORMULARIO ****************************** -->
            <!-- **************************************************************** -->

            <div class=" col-12 p-3 "> 
                <div class=" p-2 rounded">
                    <form class="">
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control " id="apellido" placeholder=""> 
                            <label for="nombre">Apellido</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="">
                            <label for="prodCodigo">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="dni" placeholder="">
                            <label for="prodCodigo">DNI</label>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2">
                            <div class=" col form-floating mb-3">
                                <input type="date" class="form-control" id="fechaNacimiento" placeholder=""
                                    style="height: 80px">
                                <label for="prodRecepcion">Fecha De Nacimiento</label>
                            </div>
                            <div class="col form-floating mb-3">
                                <input type="text" class="form-control" id="celular" placeholder="">
                                <label for="prodPrecio">Celular</label>
                            </div>
                            
                        </div>
    
                        <div class=" col form-floating mb-3">
                            <input type="text" class="form-control" id="prodVenta" placeholder="">
                            <label for="prodVenta">Domicilio</label>
                        </div>
                        <div class=" col form-floating mb-3">
                            <input type="text" class="form-control" id="prodVenta" placeholder="">
                            <label for="prodVenta">Email</label>
                        </div>
    
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                            name="plan" [(ngModel)]="alumno.plan">
                                <option *ngFor="let plan of planes" [ngValue]="plan">{{plan.nombre}},  ${{plan.precio}}</option>
                            </select>
                            <label for="floatingSelect">Plan</label>
                        </div>
                    </form>
                    <div class="row p-2">
                        <div class=" col-12 col-md-6 text-center mb-3 ">
                            <button class="w-100 btn btn-dark p-3 fs-6  fw-bold">GUARDAR
                                ALUMNO</button>
                        </div>
                        <div class=" col-12 col-md-6 text-center mb-3">
                            <button class=" w-100 btn btn-danger p-3 fs-6 fw-bold">CANCELAR</button>
                        </div>
                    </div>        
                </div>               
            </div>
        </div>
        
    </div>
</div>
