.bg-container-page{
    background: url("../assets/alumno/backround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-cont{
    background: rgba(0, 0, 0, 0.8);
}