<!-- Contenedor principal -->
<div class="row my-5 min-vh-100 m-0 ">
    <div class="col-12 col-sm-9 mx-auto bg-body rounded">
        <div class="row text-uppercase bg-dark py-3 py-sm-4 text-center align-items-center cont-title">
            <div class="col-12">
                <p class=" fs-2 fw-light text-white m-0 mb-3">Mi Plan seleccionado</p>
                <p class="fs-1 fst-italic fw-bold text-primary m-0">{{plan.nombre}}</p>
            </div>
        </div>

        <div class="row py-4 px-4 px-sm-5 py-sm-5 bg-light">
            <div class="col-12 p-0">
                <p class="fs-4 fw-light">
                    &nbsp;&nbsp;{{plan.descripcion}}
                </p>
            </div>

            <div class="col-12 p-0 mt-sm-5">
                <p class="fs-4 fw-light">
                    Cantidad de días por semana: <span class="fw-normal"> {{plan.dias}} </span>
                </p>
            </div>

            <div class="col-12 p-0">
                <p class="fs-4 fw-light">
                    Costo: <span class="fw-normal"> {{plan.precio | currency}} </span>
                </p>
            </div>

            <div class="col-12 p-0 mt-sm-5 d-flex justify-content-center">
                <button class="btn btn-outline-success btn-lg mx-auto text-uppercase" title="Ver mi rutina" (click)="viewMisRutinas()">
                    Ver mi rutina&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="currentColor" class="bi bi-file-ruled" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6H6v2h7V7zm0 3H6v2h7v-2zm0 3H6v2h6a1 1 0 0 0 1-1v-1zm-8 2v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2z"/>
                      </svg>
                </button>
            </div>

            <!--
            <div class="col-12 p-0 mt-5 m-sm-auto">
                <p class="text-success m-0 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>
                </p>
            </div> -->
        </div>
    </div>
</div>